:root {
    --secondary-color-light-grey: #727272;
    --main-color-silver: #eeeff1;
    --secondary-color-blue: #34547a;
    --secondary--color-dark-grey: #5f5d5d;
}
* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: inherit;
}
h2 {
    font-weight: 500;
    font-size: 2rem;
}
html {
    font-size: 16px;
}
body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.all-first-screen {
    background-color: var(--main-color-silver);
}
.header {
    z-index: 9999;
    background: linear-gradient(
        180deg,
        rgba(238, 239, 241, 1) 10%,
        rgba(238, 239, 241, 0.549572205275632) 90%
    );
    position: fixed;
    width: 100%;
    padding: 1.5rem 0 0.5rem 0;
}
.header__contents {
    max-width: 1100px;
    margin: auto;
}
.header__logo {
    color: var(--secondary-color-blue);
    font-family: "Revalia", cursive;
    font-size: 3rem;
    font-weight: 400;
    margin-left: 10rem;
    padding-right: 0.2rem;
}

#first-screen {
    display: flex;
    justify-content: center;
    padding: 11rem 1rem 7rem 1rem;
    margin: auto;
    max-width: 1000px;
}
.first-screen__image {
    padding: 0 6rem 2rem 1rem;
}
.first-screen__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.first-screen__content h1 {
    margin-top: -2rem;
    font-weight: 500;
    font-size: 3rem;
    line-height: 55px;
}
.first-screen__content p {
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    padding-bottom: 1rem;
}
.first-screen__content button {
    border-style: none;
    color: white;
    background-color: var(--secondary-color-blue);
    padding: 1rem 0;
    width: 13em;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.first-screen__content button:hover {
    cursor: pointer;
    box-shadow: 10px 10px 10px 2px rgba(34, 60, 80, 0.2);
}
#about {
    padding: 7rem 0 7rem 0;
    max-width: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#about h2 {
    padding: 0 0 2.5rem 0;
    font-size: 2rem;
    font-weight: 500;
}
#about p {
    color: var(--secondary-color-light-grey);
    line-height: 26px;
}
#numbers {
    color: white;
    background-color: #34547a;
    padding: 5rem 0 5rem 0;
}
.numbers__container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.numbers__item {
    display: flex;
    justify-content: space-around;
}
.numbers__item__content {
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.numbers__item__content span {
    font-weight: 500;
    font-size: 1.3rem;
}
#skills {
    padding: 5rem 1rem 5rem 1rem;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.skills__list {
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem 0 0;
}
.skills__list h2 {
    font-weight: 500;
    font-size: 2rem;
    line-height: 37px;
    padding: 0 0 2rem 0;
}
.skills__list p {
    padding: 0 0 0.5rem 0;
    color: var(--secondary-color-light-grey);
}
.skills__list__item {
    max-width: 500px;
}
#skills img {
    height: auto;
    width: 100%;
}
#skills .skills__list__item img:nth-of-type(2) {
    z-index: -1;
    position: relative;
    top: -1.26rem;
}
#skills .skills__list__item img:nth-of-type(1) {
    width: 80%;
}
.skills__photo {
    max-width: 450px;
    height: auto;
}
#video {
    padding: 5rem 0 5rem 0;
    background-color: var(--main-color-silver);
    text-align: center;
    display: flex;
    flex-direction: column;
}
.video__title {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 0 2rem 0;
}
.video__title h2 {
    padding: 0 0 2rem 0;
}
.video__title p {
    line-height: 26px;
    color: var(--secondary-color-light-grey);
}
.video__play {
    align-self: center;
    width: 70%;
    position: relative;
    height: 0;
    padding: 0 0 36% 0;
}
.video__play iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#projects {
    padding: 2rem 0 3rem 0;
    display: flex;
    flex-wrap: wrap;
}
.projects__item {
    height: auto;
    max-width: 25%;
}
.projects__item img {
    width: 100%;
    height: 100%;
}
.projects__item {
    position: relative;
}
.projects__item .projects__item__hover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    opacity: 0;
    transition: all 0.8s ease;
    -webkit-transition: all 0.8s ease;
    -moz-transition: all 0.8s ease;
    -ms-transition: all 0.8s ease;
    -o-transition: all 0.8s ease;
}

.projects__item:hover img {
    filter: invert(20%) sepia(70%) saturate(250%) hue-rotate(170deg)
        brightness(60%) contrast(95%);
    -webkit-filter: invert(20%) sepia(70%) saturate(250%) hue-rotate(170deg)
        brightness(60%) contrast(95%);
}
.projects__item .projects__item__hover img {
    filter: none;
    margin: 0;
    color: white;
    -webkit-filter: none;
}
.projects__item:hover .projects__item__hover {
    opacity: 1;
}
#clients {
    margin: 0 auto;
    max-width: 1400px;
    padding: 1rem 0 4rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.clients__item {
    padding-left: 2rem;
}
.clients__item img {
    height: auto;
    width: 100%;
}
#form {
    padding: 4rem 1rem 4rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--main-color-silver);
}
.form__title {
    text-align: center;
    margin: 0 auto;
    max-width: 600px;
    padding-bottom: 2rem;
}
.form__title h2 {
    padding: 0 0 2rem 0;
}
.form__title p {
    line-height: 26px;
    color: #727272;
}
.form__inputs {
    max-width: 600px;
    margin: 0 auto;
}
.form__inputs form {
    min-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.form__inputs input,
textarea {
    color: var(--secondary-color-light-grey);
    line-height: 23px;
    font-size: 14px;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.form__inputs__user-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.form__inputs input {
    width: 45%;
    padding: 0.6rem 0 0.6rem 0.8rem;
}
.form__inputs textarea {
    resize: none;
    padding: 0.6rem 0 0.6rem 0.8rem;
    margin-bottom: 2rem;
}
.form__inputs button {
    align-self: center;
    border-style: none;
    color: white;
    background-color: var(--secondary-color-blue);
    padding: 1rem 0;
    width: 13em;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.form__inputs button:hover {
    cursor: pointer;
    box-shadow: 10px 10px 10px 2px rgba(34, 60, 80, 0.2);
}
#footer {
    padding: 3rem 1rem 3rem 1rem;
    color: white;
    background-color: var(--secondary-color-blue);
}
.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
}
#footer h3 {
    padding-bottom: 1rem;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
}
#footer p {
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
}
.footer__social {
    display: flex;
    align-items: center;
}
.footer__social__item {
    padding-left: 0.8rem;
}
.footer__social__item img {
    width: 40px;
    height: 100%;
    transition: 0.5s;
}
.footer__social__item img:hover {
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -o-transform: translateY(5px);
}
@media (max-width: 600px) {
    .projects__item {
        max-width: 50%;
    }
}
@media (max-width: 850px) {
    .header li {
        padding-right: 0.4rem;
    }
    .first-screen__image {
        display: none;
    }
    .first-screen__content {
        text-align: center;
    }
    .first-screen__content h1 {
        line-height: 60px;
        font-size: 3rem;
        padding-bottom: 1rem;
    }
    .first-screen__content p {
        padding-bottom: 2rem;
    }
    .first-screen__content button {
        align-self: center;
    }
    #first-screen {
        padding-top: 8rem;
        padding-bottom: 2rem;
    }
    #about {
        padding: 4rem 1rem 4rem 1rem;
    }
    #numbers {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    #skills {
        align-items: center;
        margin: auto;
        flex-direction: column-reverse;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
    .skills__list {
        padding-right: 1rem;
    }
    .skills__list h2 {
        text-align: center;
    }
    #video {
        padding: 3rem 1rem 3rem 1rem;
    }
    .video__play {
        width: 85%;
        padding: 0 0 45% 0;
    }
    #clients {
        padding: 1rem 1rem 3rem 1rem;
    }
    .form__inputs form {
        min-width: 400px;
    }
    .form__inputs__user-info input {
        margin-top: 1rem;
        width: 100%;
    }
}
@media (max-width: 1000px) {
    .header {
        justify-content: space-between;
        padding-top: 0.6rem;
        padding-bottom: 0.3rem;
    }
}
@media (max-width: 639.9px) {
    .header {
        padding-top: 0.2rem;
        padding-bottom: 0.1rem;
    }
}
@media (max-width: 600px) {
    .form__inputs form {
        min-width: 100px;
    }
}
@media (max-width: 350px) {
    .first-screen__content button {
        font-size: 0.7rem;
        padding: 0.7rem 0.8rem;
    }
    .form__inputs button {
        font-size: 0.7rem;
        padding: 0.7rem 0.8rem;
    }
}
@media (max-width: 1000px) {
    .first-screen__image {
        padding-right: 2.3rem;
    }
}
@media (max-width: 850px) {
    .numbers__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        place-items: center;
    }
    .numbers__item {
        width: 50%;
        padding-bottom: 1rem;
    }
}
@media (max-width: 500px) {
    .numbers__item__content {
        padding-left: 0.3rem;
    }
}
